@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: auto; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent
}